SECRET_KEY =django-insecure-put-your-secret-key-here
DEBUG = false
DATABASE_NAME=django_db
DATABASE_USER = your-database-user
DATABASE_PASSWORD = your-database-password
DATABASE_HOST = your-database-host
DATABASE_PORT = your-database-port
DATABASE_SCHEMA = your-database-schema
OPENAI_API_KEY=your_openai_api_key_here


